# Virtual environments
venv/
venv_collect/
venv_train/

# Python cache
__pycache__/
*.pyc

# TensorFlow / training artifacts

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Jupyter
.ipynb_checkpoints/